@page "/video"

<PageTitle>Video</PageTitle>

<h4><b>Aqui estara el link del video yo programando</b></h4>
<br>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" width="1000" height="720" src="https://youtu.be/gjgI0U5Azyc" frameborder="0" allowfullscreen></iframe>
</div>

